body {
    background-color: #3c3c3c;
    height: 100%;
    text-align:center;
}

nav {
    background-color: #5f5f5f;
    border-radius: 5px;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

}
  
nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #c5c5c5;
    border-radius: 5px;
}
  
nav a:hover {
    background-color: #868686;
    color: #fff;
}

.linkimg {
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color:#CCCCCC;
    width: 160px;
    height: 120px;
    margin: 20px 20px;
}

.linkimg:hover {
    width: 180px;
    height: 140px;
    border-color:#FFFFFF;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a.link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #747474;
  color: #d3d3d3;
  text-decoration: none;
  margin: 5px;
}

a.link:hover {
    background-color: #7e7e7e;
}

.arcadelist {
    border-radius: 10px;
    background-color: #5c5c5c;
    width: 75%;
    height: 100%;
    margin: auto auto;
}